body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    background-color: darkgray;
}

.App {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}
